@model SkyLab.Models.Alumnos

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personas.Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personas.Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pregrados.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregrados.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Universidades.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Universidades.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
