@model SkyLab.Models.Alumnos

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personas.Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personas.Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pregrados.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregrados.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Universidades.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Universidades.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
