@model IEnumerable<SkyLab.Models.Docentes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table" id="tableDocentes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contratos.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personas.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pregrados.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universidades.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contratos.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personas.Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregrados.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universidades.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new
           {
               id = item.Id
           }) |
                @Html.ActionLink("Detalles", "Details", new
           {
               id = item.Id
           }) |
                @Html.ActionLink("Eliminar", "Delete", new
           {
               id = item.Id
           })
            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableDocentes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "scrollY": 200,
                "scrollX": true
            });
        });
    </script>
}